#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  text-align: center;
}


.row {
  display: flex;
  margin: 0 auto 0 auto;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}