#container {
  display: flex;
  flex-direction: column;
  min-width: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
}


.row {
  display: flex;
  margin: 0 auto 0 auto;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}