#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}


.row {
  display: flex;
  margin: 0 auto 0 auto;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.gridsizebtn,
.resetbtn {
  margin: 15px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}